@using Skoleni.Models;
@model IEnumerable<Mistnost>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nazev)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.kapacita)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nazev)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.kapacita)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.idMistnosti">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.idMistnosti">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.idMistnosti">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
