@using Skoleni.ViewModels;
@model ZaznamViewModel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="pozadiUvodu">
    <div class="pozadi-ruzovo-fialova">
        <div class="nadpis">
            <div class="nadpis-blok">
                <h1 class="nadpis-blok-h1">Nový termín - @Model.nazevSkoleni</h1>
            </div>
        </div>
        <div class="vyvysenyBod"></div>
    </div>
</div>

<div id="shortBlok">
    <div style="padding: 10px;">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <div class="mN">
                    <label asp-for="@Model.seznamTerminu">Termín</label>
                </div>
                <div class="mD">
                    <select asp-for="zaznam.idTerminu" asp-items="@Model.seznamTerminu" class="textPole">
                        <option>Vyberte prosím termín...</option>
                    </select>
                    <span asp-validation-for="zaznam.idTerminu" class="text-danger"></span>
                </div>
                <div class="mN">
                    <label asp-for="@Model.seznamUzivatelu">Uživatel</label>
                </div>
                <div class="mD">
                    <select asp-for="zaznam.idUzivatele" asp-items="@Model.seznamUzivatelu" class="textPole">
                        <option>Vyberte prosím uživatele...</option>
                    </select>
                </div>
                <div class="mN">
                    <span asp-validation-for="zaznam.idUzivatele" style="color:red;" data-valmsg-replace="true"></span>
                    </div>
                </div>
                <div id="tlacitkaPopisku">
                    <button type="submit" value="Create" class="tlacitkoPouzit">Odeslat</button>
                    <a asp-action="Index" asp-route-idSkoleni="@Model.idSkoleni" class="tlacitkoReset">Zpět</a>
                </div>
</form>
    </div>
</div>

@*@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@

<script type="text/javascript">
    $(document).ready(function () {
        jQuery.datetimepicker.setLocale('cs');

        $(document).on('mousemove', "#termin_terminKonani", function () {
            //alert("ahoj");
            $('#termin_terminKonani').datetimepicker({
                format: 'd.m.Y',
                timepicker: false,
            });
        });


    });

</script>