@model Skoleni.Models.Zaznam

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Zaznam</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.datumPrihlaseni)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.datumPrihlaseni)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.termin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.termin.idTerminu)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.uzivatel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.uzivatel.idUzivatele)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="idZaznamu" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
