@using Skoleni.ViewModels;
@model ZaznamViewModel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="pozadiUvodu">
    <div class="pozadi-ruzovo-fialova">
        <div class="nadpis">
            <div class="nadpis-blok">
                <h1 class="nadpis-blok-h1">Seznam záznamů</h1>
            </div>
        </div>
        <div class="vyvysenyBod"></div>
    </div>
</div>

<p>
    <div id="novy">
        <a asp-action="Create" asp-route-id="@Model.idSkoleni"><div id="novyIkona"></div></a>
        <input type="hidden" name="Direction" value="@Model.idSkoleni" id="fldDirection" />
    </div>
</p>

<div class="seznamKmu">
    <div>
        <div class="mN">
            <label asp-for="@Model.seznamSkoleni">Školení</label>
        </div>
        <div class="mD">
            <form asp-action="Index">
                <select asp-for="idSkoleni" class="textPole"
                        asp-items="@Model.seznamSkoleni">
                    <option>Vyberte prosím školení...</option>
                </select>
                <input type="submit" value="Potvrdit" class="tlacitkoPouzitCombobox" />
            </form>
        </div>
    </div>
    
    <table id="tabulkaKmu">
        <thead>
            <tr>
                <th>Školení</th>
                <th>Termín</th>
                <th>Uživatel</th>
                <th>Datum přihlášení</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.zaznamy)
            {
                <tr id="hlavniRadek">
                    <td>
                        @Html.DisplayFor(modelItem => item.termin.skoleni.nazev)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.termin.terminKonani)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.uzivatel.jmeno)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.datumPrihlaseni)
                    </td>
                    <td style="display: flex; margin-top:-1px;padding-top:10px;">
                        <div id="edit">
                            <a asp-action="Edit" asp-route-id="@item.idZaznamu"><div id="editIkona"></div></a>
                        </div>
                        <div id="delete">
                            <a asp-action="Delete" asp-route-id="@item.idZaznamu"><div id="deleteIkona"></div></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="novyIkonaNapoveda">
    Přidat záznam
</div>

