@using Skoleni.Models;
@model Termin

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Termin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.terminKonani)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.terminKonani)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.dobaTrvani)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dobaTrvani)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.idTerminu">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
