@using Skoleni.Models
@model Uzivatel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Uzivatel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.jmeno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.jmeno)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.prijmeni)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.prijmeni)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.stredisko)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.stredisko)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.jazyk)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.jazyk.idJazyka)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.nt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.heslo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.heslo)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="idUzivatele" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
